<div class="row py-4">
  <div class="col-12 col-lg-3 mb-md-0 mb-4 d-none d-lg-block" id="step-slider">
    <ol class="step-slider">
      <li *ngFor="let step of graduationRequestData?.steps; index as i"
        class="step-slider__item"
        [ngClass]="{
          'step-slider__item--active': activeStep?.alternateName == step?.alternateName,
          'step-slider__item--selected': i < currentAdIndex
        }">
        <!-- activeStep?.alternateName == step?.alternateName? 'step-slider__item--active' : -->
        <div class="step-slider__item-content step-slider__item-button">
          <div class="step-slider__item-icon-wrapper icon-container">
            <span class="fa-stack">
              <i *ngIf="step.status=='completed'" class="fa fa-check fa-stack-1x fa-inverse"></i>
              <i *ngIf="step.status=='failed'" class="fa fa-clock fa-stack-1x fa-inverse"></i>
              <i *ngIf="step.status=='unavailable'" class="fa fa-ban fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="step-slider__item-text" [ngClass]="step.status == 'unavailable'? 'text-gray-200':''">
            <span class="step-slider__item-title" >{{ step.title | translate }}</span>
          </div>
        </div>
      </li>
    </ol>
  </div>
  <div class="col-12 col-md-12 col-lg-8 mt-md-0 mt-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <ng-template #GraduationRequestWizardDirective></ng-template>
          </div>
        </div>
        <div class="row mt-4" *ngIf="!isLoading">
          <div class="col d-flex">
            <button class="btn btn-gray-100" (click)="loadComponent(currentAdIndex - 1, 'back')"
                     *ngIf="graduationRequestData?.steps && currentAdIndex > 0">
              {{ 'UniversisGraduationModule.Previous' | translate}}
            </button>
            <button class="btn btn-indigo ml-auto" (click)="loadComponent(currentAdIndex + 1, 'front')"
                    [disabled]="!graduationRequestData?.graduationRequest || (graduationRequestData?.steps[currentAdIndex].status == 'failed' &&
                    graduationRequestData?.steps[currentAdIndex].required)"
                    *ngIf="graduationRequestData?.steps
                    && currentAdIndex < graduationRequestData?.steps.length-1">
              {{ 'UniversisGraduationModule.Next' | translate }}
            </button>
            <button class="btn btn-indigo ml-auto" (click)="openConfirmModal()"
                    [disabled]="graduationRequestData?.steps[currentAdIndex].status == 'failed'"
                    *ngIf="currentAdIndex == graduationRequestData?.steps.length-1">
              {{ 'UniversisGraduationModule.Completed' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ConfirmModalTemplate>
  <div class="modal-header">
    <div class="d-flex flex-column justify-content-end w-100">
      <h5 class="modal-title text-center">
        {{ 'UniversisGraduationModule.ModalConfirm.Title' | translate }}
      </h5>
    </div>
    <button type="button" class="close" (click)="closeConfirmModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-12 mt-1">
        {{ 'UniversisGraduationModule.ModalConfirm.Body' | translate }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-12 col-md-6">
        <button (click)="closeConfirmModal()" class="btn btn-outline-secondary w-100">
          {{ 'UniversisGraduationModule.ModalConfirm.Close' | translate }}
        </button>
      </div>
      <div class="col-12 col-md-6 mt-md-0 mt-2">
        <button (click)="completeRequest()" class="btn btn-outline-green w-100">
          {{ 'UniversisGraduationModule.ModalConfirm.Submit' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
