<div class="row">
  <div class="col-12">
    <h2>{{ 'UniversisGraduationModule.RequirementsCheck.Title' | translate }}</h2>
    <p>{{ 'UniversisGraduationModule.RequirementsCheck.Subtitle' | translate }}</p>
  </div>
</div>
<div class="row py-3" *ngIf="statusMessage">
  <div class="col-12">
    <h5 class="font-md mb-1">{{ 'UniversisGraduationModule.RequirementsCheck.StatusCheck' | translate }}</h5>
    <div class="font-lg font-weight-bold"
         [ngClass]="this.currentStep.status == 'failed'? 'text-primary' : 'text-success'">{{ statusMessage }}</div>
    <div class="mt-3 align-items-center" *ngIf="currentStep.status === 'failed'">
      <div>
        <button type="button" class="btn btn-light" disabled>
          {{ 'UniversisGraduationModule.ContactRegistrar' | translate }}
        </button>
      </div>
      <div class="mt-2">{{ currentStep.data.failedMessage | translate }}</div>
    </div>
  </div>
</div>
<div class="row py-3">
  <div class="col-12">
    <h5 class="font-md mb-4">{{ 'UniversisGraduationModule.RequirementsCheck.DegreeRequirements' | translate }} </h5>
  </div>
  <div *ngIf="graduationRequestData">
    <div *ngIf="graduationInfo && graduationInfo.graduationRules; else not_set">
      <div class="row" *ngIf="graduationInfo.graduationRules[0].ruleExpression === null; else complex">
        <div class="col-12">
          <universis-graduation-progress [student]="'me'"></universis-graduation-progress>
        </div>
      </div>
    </div>

    <ng-template #complex>
      <div class="col-12">
        <div class="w-100 font-lg">{{'UniversisGraduationModule.ComplexRules' | translate}}</div>
        <div *ngIf="graduationInfo && graduationInfo.finalResult && graduationInfo.finalResult.success" class="w-100 pt-3 font-lg text-primary">
          {{'UniversisGraduationModule.ComplexRulesSuccess' | translate}}
        </div>
        <div *ngIf="graduationInfo && graduationInfo.finalResult && !graduationInfo.finalResult.success" class="w-100 pt-3 font-lg text-danger">
          {{'UniversisGraduationModule.ComplexRulesNoSuccess' | translate}}
        </div>
      </div>
    </ng-template>
    <ng-template #not_set>
      <div class="col-12 pt-3 font-lg text-danger" [translate]="'UniversisGraduationModule.NoRulesFound'">
      </div>
    </ng-template>
  </div>
</div>
