<div class="row">
  <div class="col-12">
    <h2> {{ 'UniversisGraduationModule.DocumentsSubmission.Title' | translate }} </h2>
    <p> {{ 'UniversisGraduationModule.DocumentsSubmission.Subtitle' | translate }} </p>
  </div>
</div>
<div class="row py-3" *ngIf="statusNotice">
  <div class="col-12">
    <h5 class="font-md mb-1">{{ 'UniversisGraduationModule.DocumentsSubmission.SubmissionStatus' | translate }}</h5>
    <div class="font-lg font-weight-bold"
         [ngClass]="this.currentStep.status == 'failed'? 'text-primary' : 'text-success'">{{ statusNotice }}</div>
  </div>
</div>
<div class="row py-3">
  <div class="col-12">
    <h5>{{ 'UniversisGraduationModule.DocumentsSubmission.GraduationDocumentsToUpload' | translate }} </h5>
    <div class="row mb-4 mt-3" *ngFor="let attachment of attachmentsTypes; index as i">
      <div class="col">

        <div class="row" *ngIf="attachment.errorMessage">
          <div class="col">
            <span class="text-red">{{attachment?.errorMessage}}</span>
          </div>
        </div>

        <div *ngIf="requestIsActive">
          <form #studentGraduationRequestActionForm="ngForm"
                enctype="multipart/form-data" class="form-inline" (ngSubmit)="triggerUploadFile(i)">

            <div class="d-flex w-100">
              <div class="flex-shrink-1">
                <i *ngIf="!(!attachment.name || (attachment.name && attachment.file))" class="fas fa-check-circle text-success font-xl"></i>
                <i *ngIf="(!attachment.name || (attachment.name && attachment.file))" class="fas fa-clock-o text-primary font-xl"></i>
              </div>
              <div class="w-100 pl-4">
                <div class="d-block w-100 mb-2">{{attachment?.attachmentType?.name}}</div>
                <div class="d-block w-100 text-secondary" [innerHTML]="attachment?.attachmentType?.description">
                </div>
                <div class="d-block w-100 text-secondary mt-3">
                  <div *ngIf="(!attachment.name || (attachment.name && attachment.file))" class="form-group ">
                    <div class="">
                      <div class="custom-file overflow-hidden d-inline-block text-truncate">
                        <input type="file" class="custom-file-input d-flex d-inline-block text-truncate"
                               id="filename" aria-describedby="filename" name="filename" required
                               (change)="onFileChange($event, i)">
                        <label class="custom-file-label justify-content-start" for="filename">
                          {{ attachment?.name }}
                        </label>
                      </div>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-success ml-0 ml-md-3"
                              *ngIf="(!attachment.name || (attachment.name && attachment.file))"
                              [ngClass]="{'disabled': !attachment.file}">
                        {{ 'UniversisGraduationModule.DocumentsSubmission.UploadDocument' | translate }}
                      </button>
                    </div>
                  </div>
                  <div *ngIf="!(!attachment.name || (attachment.name && attachment.file))" class="form-group">
                    <div class="d-inline-block mt-2 mt-md-0">
                      <a class="font-sm" href="javascript:void(0)"
                         *ngIf="!(!attachment.name || (attachment.name && attachment.file))"
                         (click)="downloadFile(attachment)">
                        <i class="mr-3 fas fa-2x fa-file-download text-indigo"></i>
                      </a>
                    </div>
                    <div class="d-inline-block mt-2 mt-md-0 text-secondary">{{attachment?.name}}</div>
                    <div class="d-inline-block mt-2 mt-md-0">
                      <button type="button" class="btn btn-sm btn-danger ml-3" *ngIf="!(!attachment.name || (attachment.name && attachment.file))"
                            [ngClass]="{'disabled': !attachment.name || (attachment.name && attachment.file)}"
                            (click)="triggerRemoveFile(i)">
                        {{ 'UniversisGraduationModule.DocumentsSubmission.RemoveDocument' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="d-flex" *ngIf="!requestIsActive">
          <div class="mr-4">
            <i class="fas fa-check-circle text-success font-xl"></i>
          </div>
          <div>
            <span class="d-block w-100 mb-2">{{attachment?.attachmentType?.name}}</span>
            <div class="d-block w-100 text-secondary" [innerHTML]="attachment?.attachmentType?.description"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4 mt-3" *ngIf="!attachmentsTypes || attachmentsTypes.length == 0">
      <div class="col">
        <div class="d-flex">
          <div class="mr-4">
            <i class="fas fa-info-circle text-secondary font-xl"></i>
          </div>
          <div>
            <span>{{ 'UniversisGraduationModule.NoAttachments' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <h5>{{ 'UniversisGraduationModule.DocumentsSubmission.GraduationDocumentsPhysicals' | translate }} </h5>
    <div class="row mb-4 mt-3" *ngFor="let attachmentPhysical of attachmentsPhysical; index as i">
      <div class="col">
        <div class="d-flex">
          <div class="mr-4">
            <i class="fas fa-clock-o text-primary font-xl"></i>
          </div>
          <div>
            <span class="d-block w-100 mb-2">{{attachmentPhysical?.attachmentType?.name}}</span>
            <div class="d-block w-100 text-secondary" [innerHTML]="attachmentPhysical?.attachmentType?.description"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4 mt-3" *ngIf="!attachmentsPhysical || attachmentsPhysical.length == 0">
      <div class="col">
        <div class="d-flex">
          <div class="mr-4">
            <i class="fas fa-info-circle text-secondary font-xl"></i>
          </div>
          <div>
            <span>{{ 'UniversisGraduationModule.NoAttachments' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #DeleteAttachmentModalTemplate>
  <div class="modal-header">
    <div class="d-flex flex-column justify-content-end w-100">
      <h5 class="modal-title text-center">
        {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Title' | translate }}
      </h5>
    </div>

    <button type="button" class="close" (click)="closeDeleteModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-12">
        {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Body' | translate: {attachmentType: deleteCandidate.type} }}
      </div>
      <div class="col-12 mt-1">
        <i class="fas fa-exclamation-triangle text-warning"></i>
        {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Notice' | translate }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <button (click)="closeDeleteModal()" class="btn btn-outline-secondary mx-2">
          {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Close' | translate }}
        </button>
        <button (click)="confirmDocumentDelete()" class="btn btn-outline-danger mx-2">
          {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Delete' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
