<h1> {{ 'UniversisGraduationModule.Degree' | translate }} </h1>
<div class="clear-content-area">
  <div class="d-none d-md-block my-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['rules']" routerLinkActive="active"
           [translate]="'UniversisGraduationModule.GraduationRules'"></a>
      </li>
      <li class="nav-item" *ngIf="graduationEventExist">
        <a class="nav-link" [routerLink]="['apply']"
           routerLinkActive="active"
           [translate]="'UniversisGraduationModule.GraduationApply'"></a>
      </li>
    </ul>
  </div>
  <div class="d-sm-block d-md-none d-lg-none my-4">
    <ul class="nav-flex s--nav-tabs p-0">
      <li class="nav-item mt-2 bg-light list-unstyled">
        <a class="nav-link text-dark font-sm text-center"
           title="{{ 'UniversisGraduationModule.GraduationRules' | translate }}"
           routerLinkActive="active"
           [routerLink]="['rules']"
           [translate]="'UniversisGraduationModule.GraduationRules'"
        >
        </a>
      </li>
      <li class="nav-item mt-2 bg-light list-unstyled" *ngIf="graduationEventExist">
        <a class="nav-link text-dark font-sm text-center"
           title="{{ 'UniversisGraduationModule.GraduationApply'| translate }}"
           routerLinkActive="active"
           [routerLink]="['apply']"
           [translate]="'UniversisGraduationModule.GraduationApply'"
        >
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
