<ng-container *ngIf="graduationRequestData">
  <div class="row mb-4">
    <div class="col-12 col-md-6 mt-md-0 mt-2" *ngIf="graduationRequestData.graduationEvent">
      <span [translate]="'UniversisGraduationModule.GraduationDatesNotice'"
            [translateParams]="{
          dateStart: graduationRequestData?.graduationEvent?.validFrom | date: 'shortDate',
          dateEnd: graduationRequestData?.graduationEvent?.validThrough | date: 'shortDate'
        }">
      </span>
    </div>
    <div class="col-12 col-md-6 ml-auto text-md-right mt-md-0 mt-2">
      <div *ngIf="graduationRequestData.graduationRequest">
        <span>{{ 'UniversisGraduationModule.StatusLabel' | translate }} : </span>
        <span  [ngClass]="{'text-primary': graduationRequestData.graduationRequest?.actionStatus?.alternateName ==='PotentialActionStatus',
                                   'text-success': graduationRequestData.graduationRequest?.actionStatus?.alternateName ==='CompletedActionStatus',
                                  'text-purple': graduationRequestData.graduationRequest?.actionStatus?.alternateName ==='ActiveActionStatus'}">
          {{ 'Requests.ActionStatusTypes.' + graduationRequestData.graduationRequest?.actionStatus?.alternateName | translate  }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <universis-msgbox
        [title]="getTitle()"
        [icon]="!this.graduationRequestData.graduationEvent ? 'fas fa-ban' :
        graduationRequestData.graduationEvent &&
        (graduationRequestData.graduationRequest && graduationRequestData.graduationRequest.actionStatus.alternateName === 'PotentialActionStatus') ? 'far fa-hourglass' :
        'far fa-check-circle'"
        [message]="getMessage()"
        [extraMessage]="'message.extraMessage | translate: params'"
        [actionButton]="'UniversisGraduationModule.GraduationRequestWizard' | translate"
        [disableBut]="disableButton()"
        (action)="navigateToGraduationRequest()">
      </universis-msgbox>
    </div>
  </div>

  <div class="row" *ngIf="graduationRequestData?.graduationRequest && graduationRequestData.graduationRequest?.actionStatus?.alternateName !=='PotentialActionStatus'">
    <div class="col">
      <h5 class="mt-2 mb-4" [translate]="'UniversisGraduationModule.GraduationRequestOverview'"></h5>
      <div class="card" *ngIf="graduationRequestData && graduationRequestData.steps && graduationRequestData.steps.length > 2">
        <div class="card-body">
          <universis-graduation-document-submission [graduationRequestData]="graduationRequestData"></universis-graduation-document-submission>
        </div>
      </div>
      <div class="card" *ngIf="graduationRequestData && graduationRequestData.steps && graduationRequestData.steps.length > 2">
        <div class="card-body">
          <universis-graduation-ceremony [graduationRequestData]="graduationRequestData"></universis-graduation-ceremony>
        </div>
      </div>
    </div>
  </div>
</ng-container>
