.switch-right {
  border-top-right-radius: 6rem;
  border-bottom-right-radius: 6rem;
}
.switch-left {
  border-top-left-radius: 6rem;
  border-bottom-left-radius: 6rem;
}
.circle_lock {
  position: relative;
  border: 4px solid;
  border-radius: 75px;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  min-width: 50px;
}
